.bundle
.DS_Store
.sass-cache/*
*.swp
*.swo
**/.DS_STORE
bin/*
binstubs/*
bundler_stubs/*
config/database.yml
config/settings.yml
coverage/*
db/*.sqlite3
db/structure.sql
log/*.log
log/*.pid
public/system/*
public/stylesheets/compiled/*
public/assets/*
public/uploads/*
tmp/*
git/*
